<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Will Fenton">
    <meta name="description" content="My name is Will Fenton and this is my personal website where I showcase my programming projects.">

    <title>Will Fenton</title>

    <link rel="icon" type="image/png" sizes="96x96" href="/data/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/data/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/data/favicon/favicon-16x16.png">

    <script src="/src/js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <link rel="stylesheet" href="/src/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <div id="vue-app">
        <section id="main">
	<canvas id="canvas"></canvas>
            <h1>Will Fenton</h1>
            <h2>Software Developer</h2>
            <ul id="icons">
                <li>
                    <a href="https://github.com/willfenton/" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/will-fenton-b155281a2/" target="blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="/data/will-fenton-resume.pdf" target="blank">
                        <i class="fas fa-file-pdf"></i>
                    </a>
                </li>
                <li>
                    <a onclick="window.prompt('Copy to clipboard: Ctrl+C, Enter', 'wfenton@ualberta.ca')">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="/music" target="blank">-->
<!--                        <i class="fas fa-music"></i>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
            <a id="arrow" href="#projects">
                <i class="fas fa-angle-double-up"></i>
            </a>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <div class="card" v-for="project in projects">
                <img v-bind:src="project.thumbnail_url" alt="project thumbnail" class="hide-sm">
                <div class="content">
                    <h1>{{ project.title }}</h1>
                    <img v-bind:src="project.thumbnail_url" alt="project thumbnail" class="show-sm">
                    <div class="tag" v-for="tag in project.tags">{{ tag }}</div>
                    <p>{{ project.description }}</p>
                    <a v-if="Object.keys(project).includes('demo_url')" v-bind:href='project.demo_url' target="blank">
                        <i class='fas fa-eye'></i> Live Demo
                    </a>
                    <a v-if="Object.keys(project).includes('video_url')" v-bind:href='project.video_url' target="blank">
                        <i class='fab fa-youtube'></i> Video
                    </a>
                    <a v-if="Object.keys(project).includes('source_url')" v-bind:href="project.source_url" target="blank">
                        <i class="fas fa-code"></i> Source Code
                    </a>
                </div>
            </div>
            <div class="footer">
                <p>© Will Fenton, thanks to <a href="https://giancarlopernudi.com/">Gino</a> for the CSS!</p>
            </div>
        </section>
    </div>
</body>
</html>
